// {
//   "presets": [
//     [
//       "@babel/preset-env",
//       {
//         "modules": false
//       }
//     ]
//   ]
// }
{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}