.cpt-fast-map {
  position: relative;
  overflow: hidden;

  .fast-map-slot-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: hidden;
    pointer-events: none;
  }
}
